DATABASE_URL="postgresql://postgres:postgres@localhost:5432/shopify_sync"

DASHBOARD_PASSWORD="admin"
SESSION_SECRET="12345678901234567890123456789012"

NEXT_PUBLIC_API_URL="http://localhost:3001"
PORT=3002
INTERNAL_API_URL="http://localhost:3001"
API_KEY="local-api-key-123"

NODE_ENV="development"
